<div class="candidate_block" >
  <h1 class="candidate">{{user?.firstName}} {{user?.lastName}}</h1>
  <p class="vacancy_desc">{{vacancy?.type | uppercase}} {{vacancy?.title | uppercase}}</p>
</div>

<div class="answer_card">
  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Application Score</p>
      <p class="number">{{score | number: '1.2-2'}} %</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Application Rank</p>
      <p class="number">1</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Total Time Spent</p>
      <p class="number">{{16 | convertTime}}</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Status</p>
      <p class="number">{{status | uppercase}}</p>
    </div>
  </div>
</div>

<div class="answers-title">
    <p>Answers</p>
</div>
<div class="questions_block">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef class="column_title question"> Question </th>
      <td mat-cell *matCellDef="let element"> {{element.question.title}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="column_title status_header"> Status </th>
      <td mat-cell *matCellDef="let element" >
        <span class="status"
              [ngClass]="{
                'not': element.status === 'not Answered',
                'evaluated': element.status === 'evaluated',
                'answered': element.status === 'answered'
              }">
          {{element.status | uppercase}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef class="column_title mark"> Mark </th>
      <td mat-cell *matCellDef="let element" > {{element.score}}
        <div class="arrow">
          <mat-icon (click)="openModal(element)">arrow_forward</mat-icon>
        </div>
      </td>

    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="openModal(element)"   ></tr>
  </table>

</div>

