<h1>{{candidate}}</h1>

<div class="answer_card">
  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Application Score</p>
      <p class="number">--</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Application Rank</p>
      <p class="number">--</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Total Time Spent</p>
      <p class="number">{{16 | convertTime}}</p>
    </div>
  </div>

  <div class="answer_card_content">
    <div class="answer_card_content-text">
      <p class="text">Status</p>
      <p class="number">Invited</p>
    </div>
  </div>
</div>



<div class="Answers-list">
  <div class="Answers-list-block_title">
    <p>Answers</p>
  </div>

</div>
