<ng-container *ngIf="(vacancy$ | async) as vacancy">
<div>
        <span class="vacancy-type">{{ vacancy.type | uppercase}} &#160;</span>
        <span class="vacancy-title">{{vacancy.title | uppercase}}</span>
        <button class="btn" (click)="vacancyDelete(id)" >
          <mat-icon>delete</mat-icon>
          </button >
    <button class="btn" (click)="editVacancy(id)">
    <mat-icon>edit</mat-icon>
    </button>
  </div>
    <div class="vacancy-description">
      {{vacancy.description}}
        </div>
    <div class="mat-cards">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Status</mat-card-title>
          </mat-card-header>
         <mat-card-content>
          <div class="container-card-content">
            <div>
              {{vacancy.status |  titlecase}}
            </div>
            <div>
              <button  class="btns" mat-raised-button (click)="changeStatus(id)">{{ vacancy.status === 'Active' ? 'CLOSE' : 'RE-OPEN'}}</button>
            </div>
          </div>



      </mat-card-content>   </mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Avg.score</mat-card-title>
          </mat-card-header>
        <mat-card-content>
       {{avgScore || 0 | number: '1.2-2'}}%
      </mat-card-content></mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Completed</mat-card-title>
          </mat-card-header>
        <mat-card-content>
     <p>{{completedAmount}}  <span>  out of {{amountOfApplications}}</span> </p>
      </mat-card-content></mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Opened</mat-card-title>
          </mat-card-header>
        <mat-card-content>
       <span> {{ vacancy.createdAt | date: 'd MMM y'  }} </span>
      </mat-card-content></mat-card>
     </div>
     <div class="content-title">
      <h1>Applications</h1>
      <a  (click)="openInviteModal()" >
      <div class="invite">
      <mat-icon>
        person_add
      </mat-icon>
      <span class="invite-text">INVITE CANDIDATE</span>
    </div>
       </a>
     </div>
     <app-applications-table [vacancyId]="id"></app-applications-table>
</ng-container>

