<div class="container">
  <div class="sign-in-content_logo">
    <div class="img">
      <img src="../../assets/svg-icons/logotype-tech-magic-mark-colored.svg" alt="Logo">
    </div>
    <p class="text">Recruiter App</p>
  </div>
  <div class="sign-in">
    <div class="sign-in-content">
      <p class="text">Authorize with your <a><span class="link">@techmagic.co</span></a> email</p>
      <app-google-auth-button></app-google-auth-button>
    </div>
  </div>
   <div class="footer">&copy; TECHMAGIC 2016-2021</div>
</div>

