.header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  .header_links {
    padding: 20px 0 0 0;

    a {
      display: inline-block;
      opacity: 0.5;
      height: 30px;
      font-weight: 800;
      margin-right: 25px;
      font-size: 0.8rem;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #101820;
    }

    a:hover {
      box-sizing: border-box;
      border-bottom: 3px solid #007672;
      opacity: 1;
    }

    a.active {
      box-sizing: border-box;
      border-bottom: 3px solid #007672;
      opacity: 1;
    }
    a.active:host{
      box-sizing: border-box;
      border-bottom: 3px solid #007672;
      opacity: 1;
    }
  }

  .header_profile {
    align-self: center;
    cursor: pointer;
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30px;
    }
  }
}

.log-out {
  border-radius: 2px;
  background-color: #007672;
  color: #ffffff;
  padding: 5px;
}
