<div class="header">
  <div class="header_links">
    <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
    <a [routerLink]="['/vacancies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">VACANCIES</a>
    <a [routerLink]="['/questions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">QUESTIONS</a>
    <a [routerLink]="['/system-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SYSTEM
      SETTINGS</a>
  </div>
  <div class="header_profile">
      <a (click)="onShowLogOut()"><img src="../../assets/profile.svg" alt="Profile" ></a>
    <div class="log-out" *ngIf="showLogOut">
      <a (click)="onLogout()"><span>Logout</span></a>
    </div>
  </div>

</div>





