.header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  .header_links {
    padding: 20px 0 0 0;
    a {
      display: inline-block;
      opacity: 0.5;
      height: 50px;
      font-weight: 800;
      margin-right: 25px;
      font-family: Raleway, sans-serif;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #101820;
    }
    a.active:hover {
      box-sizing: border-box;
      border-bottom: 3px solid #007672;
      opacity: 1;
    }
  }
  .header_profile {
    align-self: center;
    img {
      width: 30px;
    }
  }
}
