<div class="edit-modal_title">
  <div class="edit-modal_close_btn">
    <a (click)="onClose()">
      <img src="../../../assets/cross.svg" alt="Cross" style="width: 15px"/>
    </a>
  </div>
  <p>Edit Question</p>
</div>
<form class="edit-modal-form" [formGroup]="editModal" (ngSubmit)="onSubmit()" #formElement='ngForm'>
  <div class="edit-modal-form_title form-element_block">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" id="title" formControlName="title" required >
  </div>
  <div class="edit-modal-form_description form-element_block"  >
    <label for="description">Description</label>
    <br>
    <textarea  name="description" id="description" rows="10" formControlName="description" required></textarea>
  </div>

  <div class="edit-modal_form-topics form-element_block" >
    <label>Topics</label>
    <br>
    <div class="multiselect-1">
      <div class="selectBox-1" (click)="onShowCheckBox()">
        <select  required formArrayName="topics" >
          <option hidden>Select topic</option>
        </select>
        <div class="overSelect-1"></div>
      </div>
      <div id="edit-modal-checkboxes" >
        <label [attr.for]="topic + i + '_id'" *ngFor="let topic of availableTopics; let i = index;">
          <input [name]="topic"
                 #element
                 type="checkbox"
                 (click)="onAddTopic(element, i)"
                 [id]="topic + i + '_id'"
                 [value]="topic"
                 required/>
          {{topic}}</label>

      </div>

    </div>
    <ul class="chosen-topics_list" >
      <div class="chosen-topics_list-block"  >
        <li  class="list-item" *ngFor="let topic of getControls(); let i = index">
          {{topic}}
          <img (click)="onRemoveTopic(i)" class="img-cross" src="../../../assets/cross.svg" alt="Cross" style="width: 10px">
        </li>
      </div>
    </ul>
  </div>


  <div class="type-maxLength_wrapper">
    <div class="edit-modal-form_type form-element_block">
      <label for="type">Type</label>
      <br>
      <select name="type" id="type" formControlName="type" required>
        <option value="code">code</option>
        <option value="text">text</option>
        <option value="video">video</option>
      </select>
    </div>
    <div class="edit-modal-form_max-length">
      <label for="maxlength">Max length</label>
      <br>
      <input type="text" id="maxlength" name="maxLength" formControlName="maxLength" required >
    </div>
  </div>

  <div class="edit-modal-form_edit_btn">
    <button type="submit"
            style="cursor:
                pointer" (click)="onEdit()"
            [disabled]="!formElement.valid"
            [ngStyle]="{'opacity': editModal.invalid ? '0.5': '1'}">
      Save
    </button>
  </div>
</form>


