stages:
  - build
  - deploy

image: node:14.16.0

cache:
  paths:
    - node_modules/

build-develop:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
  only: [merge_requests]
  script:
    # Install dependencies
    - npm install
    # Build App
    - node_modules/@angular/cli/bin/ng build --prod --configuration=develop
  artifacts:
    paths:
      # Build folder
      - dist
    expire_in: 1 hour

deploy-develop:
  stage: deploy
  script:
    - npm install -g firebase-tools
    - firebase use --token $FIREBASE_TOKEN develop
    - firebase deploy --only hosting -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
  only: [merge_requests]
