.mat-dialog-container {
  padding: 0;
}

app-question-view-modal {
  width: 50%;
}

.view-question-header {
  background-color: #fafafa;

  .view-question-header_title {
    padding: 40px 0 25px 40px;

    p {
      font-size: 24px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #373a36;
    }

    a {
      display: block;
      text-align: right;

      img {
        margin-right: 15px;
      }
    }
  }
}

.view-question-content {
  padding: 25px 40px;

  .view-question-content_title,
  .view-question-content_description,
  .view-question-content_topics {
    margin: 20px 0;

    div {
      padding: 10px;
      border-radius: 2px;
      border: solid 2px #dddddd;
      word-wrap: break-word;
    }

    .topic-item {
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 6px 9px 7px 8px;
      border-radius: 2px;
      background-color: #eeeeee;
      height: 20px;
    }
  }

  .edit-modal-form_edit_btn {
    text-align: right;
    margin-top: 40px;

    button {
      padding: 12px 20px;
      border: none;
      border-radius: 2px;
      background-color: #007672;
      font-size: 14px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #ffffff;
    }
  }
}
