::ng-deep mat-tab-header {
  width: 1440px;
  height: 60px;
  margin: 0 0 20px;
  padding: 0 150px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  background-color: #ffffff;
}



::ng-deep .mat-tab-label:first-child{
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  width: 83px;
  letter-spacing: 0.5px;
}

::ng-deep .mat-tab-label:nth-child(even){
  opacity: 0.5;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

::ng-deep .mat-tab-label:last-child{
  width: 134px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  box-shadow: inset 0 -3px 0 0 #007672;
}
