body {
  background-color: #fafafa;
}

mat-card {
  box-shadow: none !important;
  padding: 20px !important;
}

.mat-card {
  box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%), 0 4px 25px 0 rgb(0 184 178 / 5%);
}

.example-card {
  width: 28vw;
  box-shadow: 0 4px 25px 0 rgb(0 0 0 / 5%), 0 4px 25px 0 rgb(0 184 178 / 5%) !important;

}



.card-center {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


textarea {
  resize: none !important;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #373a36;
  font-weight: 700;
}

.mat-success {
  background-color: #007672;
  color: #fff;
  width: 6vw;
}

.mat-card-header {
  width: 10vw;
}

.mat-card-title {
  height: 6vh;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101820;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05),
  0 4px 25px 0 rgba(0, 184, 178, 0.05);
}


.mat-select-arrow {
  color: black;
}

label.mat-checkbox-layout {
  width: 100%;
}

.mat-checkbox-label {
  width: 100%;
}

mat-checkbox {
  width: 100%;
}

.mat-form-field {
  padding-top: 5px !important;
  width: 100% !important;
}

.mat-form-field-wrapper {
  padding-bottom: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-label {

  margin-top: -15px;
}

.mat-input-element {
  caret-color: transparent !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline .mat-focused {
  color: green;
}

.btn-disabled {
  opacity: 0.5;
  border-radius: 2px;
  background-color: #007672;
}

.question_library {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  background-color: #ffffff;
  border-radius: 4px;
  width: 30vw;

  .question_library-title {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
    background-color: #ffffff;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101820;
    font-family: Raleway, sans-serif;

    img {
      width: 15px;
    }

    img:last-child {
      margin-left: 30px;
    }

  }
}

.question_library-title-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  word-break: break-all;

  span {
    font-size: 0.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #101820;
    display: block;
    width: 40px;

  }

  p {
    padding-left: 10px;
    font-family: OpenSans, sans-serif;
    width: 30rem;
  }
}

.question_library-item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  .view-link_block {
    width: 100%;
  }

  .vacancies-view-question_link, .pencil, .delete {
    visibility: hidden;
  }
  .vacancies-view-question_link {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }

  &:hover {
    background-color: rgba(0, 118, 114, 0.1);
    cursor: pointer;
  }

  &:hover .vacancies-view-question_link, &:hover .pencil, &:hover .delete {
    visibility: visible;
  }

  input {
    float: left;
    margin-right: 10px;
  }

  .bin {
    float: left;
  }

  .topics {
    display: flex;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101820;
    .topics_container {
      display: flex;
      flex-wrap: wrap;
    }

    p {
      margin: 0 4px 5px 4px;
      padding: 1px 3px;
      border-radius: 2px;
      background-color: #eeeeee;
    }
  }
}

.question_library-items {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

}

.question_library-items-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 10px 15px 45px;
  border-bottom: 1px solid #eeeeee;;

  img {
    margin-left: 10px;
    width: 15px;
    margin-right: 15px;
  }

  span {
    font-size: 0.7rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #101820;
  }

  p {
    font-size: 0.9rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101820;
    font-family: OpenSans, sans-serif;
  }

  div {
    margin-right: 10px;
  }
}

.question_library-content {
  height: 75vh;
  overflow: hidden;
  overflow-y: auto;

}

form {
  input, select, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: solid 2px #dddddd;
    outline-color: #007672;
  }

  select {
    background-color: transparent;
  }

  div:not(:last-child) {
    margin-bottom: 10px;
  }

  div label {
    display: inline-block;
    margin-bottom: 9px;
  }
}

.total_time-block {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  p {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101820;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #e0004d;
  }
}

.search-input {
  box-sizing: border-box;
  width: 70%;
}

.pencil {
  font-size: 1rem;
  margin-left: 5px;
  opacity: 0.5;
}

.delete {
  font-size: 1rem;
}

.view_modal_link-container {
  position: absolute;
  right: 19px;
}

.search {
  font-size: 1.3rem;
}
.search, .plus {
  cursor: pointer;
}

.question_topics {
  margin: 0 4px 5px 4px;
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #eeeeee;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, {
  border: 1px solid red;
}

.notification {
  color: red;
}
