<div class="container">
  <div class="sub-header">
    <p>Create vacancy</p>
    <button mat-raised-button color="success" (click)="saveForm()" [disabled]="!element.valid">SAVE</button>
  </div>

  <div class="card-center">
    <mat-card class="example-card">
      <mat-card-content>
        <form [formGroup]="vacanciesForm" #element="ngForm">
          <div class="vacancies-form_title">
            <label for="title">Title</label> <br>
            <input #titleInp formControlName="title" type="text" id="title" name="title" placeholder="Type your title"
                   >
            <span *ngIf="titleInp.value.length > 200 &&
            !vacanciesForm.get('title').valid && vacanciesForm.get('title').touched">Max amount of characters is 200</span>
            <span *ngIf="titleInp.value.length <= 0 &&
             !vacanciesForm.get('title').valid && vacanciesForm.get('title').touched">This field is required</span>
          </div>

          <div class="vacancies-form_type">
            <label for="type">Type</label> <br>
            <select name="type" id="type" formControlName="type">
              <option hidden selected value="">Choose your type</option>
              <option value="web">Web</option>
              <option value="management">Management</option>
              <option value="ios">iOS</option>
              <option value="android">Android</option>
            </select>
          </div>

          <div class="vacancies-form_description">
            <label for="desc">Description</label> <br>
            <textarea #descInp id="desc" name="desc" rows="10" placeholder="Type your description"
                      formControlName="description" [maxlength]="descriptionLength"></textarea>
            <span *ngIf="descInp.value.length > 800 &&
            !vacanciesForm.get('description').valid && vacanciesForm.get('description').touched">Max amount of characters is 800</span>
            <span *ngIf="descInp.value.length <= 0 &&
             !vacanciesForm.get('description').valid && vacanciesForm.get('description').touched">This field is required</span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="question_library">
      <div class="question_library-title">
        Task Questions ({{getQuestionsArray.length}})
      </div>

      <div class="question_library-content">
        <div class="question_library-items">
          <div class="question_library-item" *ngFor="let question of getQuestionsArray; let i = index;">

            <div class="question_library-title-block">

              <span>{{question.maxLength}}</span>

              <p class="title">{{question.title}}</p>
            </div>
            <div class="bin">
                <mat-icon (click)="onDelete(i,question)" class="delete">delete</mat-icon>
            </div>
            <div class="topics">
              <div>
                <span class="question_topics" *ngFor="let topic of question.topics">{{topic}}</span>
              </div>
            </div>
              <mat-icon (click)="openViewQuestionModal(question)" class="vacancies-view-question_link">trending_flat</mat-icon>
          </div>
        </div>
      </div>
      <div class="total_time-block">
        <p>TOTAL TIME</p>
        <div>
          <span>{{totalTime}} MIN</span>
        </div>
      </div>
    </div>

    <div class="question_library">
      <div class="question_library-title">
        <p *ngIf="!searchMode">Library questions ({{allQuestions.length}})</p>
        <input [(ngModel)]="inputSearchValue" class="search-input" *ngIf="searchMode" type="text" name="search">
        <div>
          <mat-icon class="search">search</mat-icon>
          <mat-icon (click)=" openCreateNewModal()" class="plus">add</mat-icon>
        </div>
      </div>

      <div class="question_library-items-title">
        <p>Question</p>
        <div>
          <span>TIME, MIN</span>
        </div>
      </div>
      <div class="question_library-content">
        <div class="question_library-items">
          <div class="question_library-item" *ngFor="let question of allQuestions; let i = index;">

            <input [name]="question.title"
                   [disabled]="limitOfQuestionExceed"
                   #element
                   type="checkbox"
                   (click)="onAddQuestion(question, element)"
                   [id]="question._id"
                   [value]="question.title"
                   required/>
            <div class="question_library-title-block">

              <span>{{question.maxLength}}</span>

              <p class="title">{{question.title}}</p>
            </div>
            <div class="topics">
              <mat-icon (click)="openEditModal(question, question._id)" class="pencil">create</mat-icon>
              <div class="topics_container">
                <p *ngFor="let topic of question.topics">{{topic}}</p>
              </div>
              <div>
                <mat-icon (click)="openViewQuestionModal(question)" class="vacancies-view-question_link">trending_flat
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

