<div class="mainly">
<div class="img">
  <img src="../../assets/svg-icons/logotype-tech-magic-mark-colored.svg" alt="Logo">
</div>
<div class="container">
  <div class="content">
    <p class="text">Thank you for applying for a position with us, and here's a confirmation that we received your application.</p>
     <p class="text-subheader">One of our recruiters will  <span class="red-text">contact</span> you shortly to let you know about the status of your application test</p>
    <button mat-raised-button class="btn-color" >Thank you</button>
  </div>
</div>
</div>

