app-create-new-modal {
  width: 50%;
}
.mat-dialog-container {
  padding: 0;
}

.selectBox-1 {
  position: relative;
}

.selectBox-1 select {
  width: 100%;
}

.overSelect-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#create-new-modal-checkboxes {
  display: none;
  border: 1px #dadada solid;
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  input {
    width: 30px;
  }
}

#create-new-modal-checkboxes label {
  display: block;
}

#create-new-modal-checkboxes label:hover {
  background-color: #007672;
}

.create-modal-form {
  padding: 20px 40px 40px 40px;
  input, select,textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: solid 2px #dddddd;
    background-color: #ffffff;
  }
  .type-maxLength_wrapper {
    display: flex;
    justify-content: space-between;
    .create-modal-form_type {
      width: 90%;
      margin-right: 10px;
    }
  }
  label {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .form-element_block {
    margin-bottom: 20px;
  }
  .create-modal-form_edit_btn {
    text-align: right;
    margin-top: 40px;
    button {
      padding: 12px 20px;
      border: none;
      border-radius: 2px;
      background-color: #007672;
      font-size: 14px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #ffffff;
    }
  }

}


.chosen-topics_list {
  list-style-type: none;
  padding-left: 0;
  .chosen-topics_list-block {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 8px 9px;

    border-radius: 2px;
    border: solid 2px #dddddd;
    background-color: #ffffff;
    li {
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 6px 9px 7px 8px;
      border-radius: 2px;
      background-color: #eeeeee;
      height: 20px;
    }
  }

}

.create-modal_title {
  background-color: #fafafa;
  padding: 20px 0 20px 40px;
  margin-bottom: 20px;
  height: 60px;
  p {
    font-size: 24px;
    font-weight: 800;
  }
  .create-modal_close_btn {
    text-align: right;
    margin-right: 15px;
  }
}


