<div class="view-question-header">
  <div class="view-question-header_title">
      <div class="close">
        <mat-icon (click)="onClose()">clear</mat-icon>
      </div>
    <p>View question</p>
  </div>
</div>
<div class="view-question-content">
  <div class="view-question-content_title">
    <span>Title</span>
    <div class="title">{{currentQuestion.title}}</div>
  </div>
  <div class="view-question-content_description">
    <span>Description</span>
    <div class="description">{{currentQuestion.description}}</div>
  </div>
  <div class="view-question-content_topics">
    <span >Topics</span>
    <div class="view-question-content_topics-container">
      <p class="topic-item" *ngFor="let topic of currentQuestion.topics">{{topic}}</p>
    </div>
  </div>
  <div class="edit-modal-form_edit_btn">
    <button type="submit" (click)="onClose()">
      Cancel
    </button>
  </div>

</div>
