<div class="create-new-question">
  <button mat-button (click)="openCreateNewModal()">Create New</button>
</div>


<div *ngIf="(questionList$ | async) as questionList" class="question-list_block">
  <div class="question-list_title">
    <p>Questions({{questionList.length}})</p>
    <div class="question-list_title-avg_time">
      <p>time/min</p>
      <mat-icon (click)="onSort('time')" class="arrow">{{isSorted === false ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon>
    </div>

  </div>
  <div class="question-list_content">
    <div class="question-list_content-block">
      <div class="question-list_item" *ngFor="let question of questionList; let i = index">
        <div class="question-list_item-title">
          <p [ngClass]="{'dot': question.title.length >= 30 }" style="width: 40rem;">{{question.title}}</p>
          <p class="avg_time">{{question.maxLength}}</p>
        </div>
        <div class="question-list_item-topics">
          <ul>
              <li *ngFor="let topic of question.topics" ><a>{{topic}}</a></li>
          </ul>
        </div>
        <div class="question-list_item-description">
          <div class="description">
            <p [ngClass]="{'dot': question.description.length >= 50 }">{{question.description}}</p>
          </div>
        </div>
          <mat-icon (click)="openViewQuestionModal(question._id)" class="question-list_link">trending_flat</mat-icon>
          <mat-icon (click)="openEditModal(question._id)" class="question-list_link">create</mat-icon>

      </div>
    </div>

  </div>
</div>



