.question-list_block {
  box-sizing: border-box;
  background-color: #fafafa;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  width: 750px;
  .question-list_title {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 15px 0 15px;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    .question-list_title-avg_time {
      p {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .question-list_content {
    height: 661px;
    overflow: hidden;
    overflow-y: auto;
    .question-list_link {
      visibility: hidden;
    }
    .question-list_content-block {
      width: 100%;
      .question-list_item {
        padding: 20px 15px 0 15px;
        font-family: OpenSans, serif;
        .question-list_item-title,
        .question-list_item-description,
        .question-list_item-topics {
          margin-right: 10px;
        }
        .question-list_item-title {
          p {
            font-size: 0.9rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #101820;
          }
        }
        &:hover  {
          background-color: rgba(0, 118, 114, 0.1);
        }
        &:hover .question-list_link {
          visibility: visible;
        }
        .question-list_item-title {
          display: flex;
          justify-content: space-between;
        }
        .question-list_item-description {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 0.9rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #101820;
          }
          .question-list_item-description-links {
            display: flex;
            flex-direction: column;
            a:first-child, a:last-child {
              margin-bottom: 10px;
            }

          }
        }
      }
    }

    .question-list_item-topics {
      margin: 10px 0;
      ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        a {
          color: #000;
        }
      }
      ul li {
        margin: 0 4px;
        padding: 1px 3px;
        border-radius: 2px;
        background-color: #eeeeee;
      }
    }
  }
}

.dot {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

.create-new-question {
  text-align: right;
  margin-bottom: 33px;
  p {
    padding: 12px 20px;
    border-radius: 2px;
    background-color: #007672;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
}

.arrow {
  width: 15px;
  margin-top: 5px;
}
