<div class="create-new-question">
  <p style="cursor: pointer" (click)="$event.preventDefault(); openCreateNewModal()">Create New</p>
</div>


<div class="question-list_block">
  <div class="question-list_title">
    <p>Questions({{questionList.length}})</p>
    <div class="question-list_title-avg_time">
      <p>time/min</p>
      <a (click)="onSort('time')"> <img class="arrow" src="../../../assets/arrowDown.svg" alt="Arrow" > </a>
    </div>

  </div>
  <div class="question-list_content">
    <div class="question-list_content-block">
      <div class="question-list_item" *ngFor="let question of questionList; let i = index">
        <div class="question-list_item-title">
          <p>{{question.title}}</p>
          <p class="avg_time">{{question.maxLength}}</p>
        </div>
        <div class="question-list_item-topics" >
          <ul>
            <a *ngFor="let topic of question.topics" [href]="topic"><li >{{topic}}</li></a>
          </ul>
        </div>
        <div class="question-list_item-description">
          <p [ngClass]="{'dot': question.description.length >= 300 }">{{question.description}}</p>

          <div class="question-list_item-description-links">
            <a href="#" class="question-list_link" (click)="$event.preventDefault(); openViewQuestionModal(i)"><img src="../../../assets/arrowRight.svg" alt="Arrow" style="width: 15px"></a>
            <a href="#" class="question-list_link" (click)="$event.preventDefault(); openEditModal(question._id)" ><img src="../../../assets/pencil.svg" alt="Pencil" style="width: 15px"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



