<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="data">

    <ng-container matColumnDef="VACANCIES">
      <mat-header-cell *matHeaderCellDef> VACANCY </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="TYPE">
      <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="STATUS">
      <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <div [ngClass]="{'cell-active': element.status === 'Active',
                                                            'cell-closed': element.status === 'Closed'}">
          {{element.status | uppercase}} </div></mat-cell>

    </ng-container>

    <ng-container matColumnDef="NUMBER OF APPLICATIONS">
      <mat-header-cell *matHeaderCellDef> NUMBER OF APPLICATIONS </mat-header-cell>
      <mat-cell *matCellDef="let element"> 0 </mat-cell>
    </ng-container>


    <ng-container matColumnDef="OPENED">
      <mat-header-cell *matHeaderCellDef> OPENED </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date}} </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="ARROW">
      <mat-header-cell   *matHeaderCellDef></mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <button mat-icon-button class="hidden" color="black" (click)="edit(element)" title="View Contact"><mat-icon>arrow_forward</mat-icon></button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="length"
                 [pageSize]="pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>

</div>






