
<div class="title_block" >
  <div class="clear-icon_block">
    <mat-icon class="clear" (click)="closeModal()">clear</mat-icon>
  </div>
  <h1>Questions {{currentPosition$ | async}}/ {{questionsListLength}}</h1>
</div>
<div class="question_block" *ngIf="(currentQuestion$ | async) as currentQuestion ">
  <div class="question_block-title-description">
    <div class="title">
      <p>{{currentQuestion.title}} </p>
      <div>
        {{currentQuestion.maxLength | convertTime}}
      </div>
    </div>
    <div class="description">
      <p>{{currentQuestion.description}}</p>
    </div>
  </div>
  <ul>
      <li *ngFor="let topics of currentQuestion.topics" class="topics">{{topics}}</li>
  </ul>

</div>

<div class="answer_block">
  <div class="answer_block-title">
    <p class="title">Answer</p>
  </div>
  <form>
    <div class="answer_block-content">
      <textarea
                #answer
                [value]="(currentAnswerValue$ | async)"
                class="given_answer"
                name='answer'
                rows="10"
                ></textarea>
    </div>
  </form>
</div>

<div class="buttons_block">
  <mat-icon (click)="previousItem()" class="arrow-left" >keyboard_arrow_left</mat-icon>
  <mat-icon (click)="nextItem()" class="arrow-right">keyboard_arrow_right</mat-icon>
</div>

<button mat-raised-button *ngIf="showButton" (click)="onSubmitAnswer()">Submit</button>

