.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.content {
  border-radius: 2px;
  background-color: #007672;
  text-align: center;
  color: #ffffff;
  width: 50%;
  padding: 20px;
  margin: auto;
  -webkit-box-shadow: -2px 2px 49px 4px rgba(34, 60, 80, 0.46);
  -moz-box-shadow: -2px 2px 49px 4px rgba(34, 60, 80, 0.46);
  box-shadow: -2px 2px 49px 4px rgba(34, 60, 80, 0.46);
}
