.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.content {
  border-radius: 2px;
  background-color: white;
  text-align: center;
  color: #101820;
  width: 50vw;
  height: 20vh;
  padding: 20px;
  margin: auto;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  -moz-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
}

.btn-color{
  background-color: #007672;
  font-size: 15px;
  margin: 22px 55px 0 49px;
  border-radius: 2px;
  color: #ffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.text {
  margin-top: 40px;
    color: #4a4a4a;
    font-size: 18px;
}
.red-text {
    color: #e0004d;
}
