<div class="container">
    <div class="sub-header"> 
    <h2>Create vacancy</h2>
    <button mat-raised-button color="success" (click)='saveForm()'>SAVE</button>
    </div>
    <div class="card-center">
    <mat-card class="example-card">
        <mat-card-content>
            <form [formGroup]="vacanciesForm">
                <p>Title</p>
            <mat-form-field appearance="outline">
                <input  matInput maxlength="200" formControlName="title" placeholder="Type vacancy name" >
              </mat-form-field>
              <p>Type</p>
              <mat-form-field appearance="outline">
                <mat-select formControlName="type" placeholder='Select vacancy type'>
                  <mat-option value="one">WEB</mat-option>
                  <mat-option value="two">Management</mat-option>
                  <mat-option value="two">Android</mat-option>
                  <mat-option value="two">IOS</mat-option>
                </mat-select>
              </mat-form-field>
              <p>Link</p>
              <mat-form-field appearance="outline" >
                  <input matInput type="url" pattern="https?://.+"  placeholder="Type vacancy name" matInput maxlength="200" formControlName="link" >
                </mat-form-field>
              <p>Description</p>
              <mat-form-field appearance="outline">
                <textarea matInput rows="10" maxlength="800" cols="40" formControlName="description" placeholder="Type text"></textarea>
              </mat-form-field>
              </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Task questions ()</mat-card-title>
    </mat-card-header>
        <mat-card-content >
          
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-title>Library questions</mat-card-title>
        <mat-card-content>
           
        </mat-card-content>
      </mat-card>
      </div>
</div>

