<div class="title_block" >
  <div class="clear-icon_block">
    <mat-icon class="clear" (click)="closeModal()">clear</mat-icon>
  </div>
  <h1>Questions {{currentNumberOfQuestion()}}/{{allQuestions.length}}</h1>
</div>
<div class="question_block">
  <div class="question_block-title-description">
    <div class="title">
      <p>{{question.maxLength | convertTime}} </p>
      <div>
        {{question.title}}
      </div>
    </div>
    <div class="description">
      <p>{{question.description}}</p>
      <ul>
        <li *ngFor="let topics of question.topics" class="topics">{{topics}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="answer_block">
  <div class="answer_block-title">
    <p class="title">Answer</p>
  </div>
  <form>
    <div class="answer_block-content">
      Answer
    </div>
  </form>
</div>

<div class="buttons_block">

  <mat-icon  (click)="previousQuestion()" class="arrow-left">keyboard_arrow_left</mat-icon>
  <div class="mark_block">
    <span>Mark</span>
    <div class="marks">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
      <span>9</span>
      <span>10</span>
    </div>
  </div>
  <mat-icon  (click)="nextQuestion()" class="arrow-right">keyboard_arrow_right</mat-icon>
</div>
