 <div class="container">
    <div>
        <span class="vacancy-type">{{message['type'] | uppercase}} &#160;</span>
        <span class="vacancy-title">{{message['vacancy'] | uppercase}}</span>
    </div>

    <p class="vacancy-description">
        {{(showMore) ? text : text | slice:0:150 }} <span *ngIf="!showMore">... &#160;</span> 
        <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">view more</a>
        </p>



    <div class="mat-cards">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Status</mat-card-title>
          </mat-card-header>
          <div class="container-card-content"> </div> <mat-card-content>
              <span>{{message['status']}}
      
                <button>Close</button></span>
            
      </mat-card-content></mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Avg. score</mat-card-title>
          </mat-card-header>
        <mat-card-content>
       fdgg
      </mat-card-content></mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Completed</mat-card-title>
          </mat-card-header>
        <mat-card-content>
       fdgg
      </mat-card-content></mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Opened</mat-card-title>
          </mat-card-header>
        <mat-card-content>
       fdgg
      </mat-card-content></mat-card>
     </div>
     <h1>Applications</h1>
   

</div>

