<div class="container">
  <div class="sub-header">
    <h2>Edit vacancy</h2>
    <button mat-raised-button color="success"  (click)="vacancyEdit()" [disabled]="!element.valid">SAVE</button>
  </div>
  <div class="card-center">
    <mat-card class="example-card">
      <mat-card-content>
        <form  #element="ngForm">
          <div class="vacancies-form_title">
            <label for="title">Title</label> <br>
            <input  type="text" id="title" name="title" placeholder="Type your title" [(ngModel)]="title">
          </div>

          <div class="vacancies-form_type">
            <label for="type">Type</label> <br>
            <select name="type" id="type" [(ngModel)]="type">
              <option hidden selected>{{type}}</option>
              <option value="web">Web</option>
              <option value="management">Management</option>
              <option value="ios">iOS</option>
              <option value="android">Android</option>
            </select>
          </div>



          <div class="vacancies-form_description">
            <label for="desc">Description</label> <br>
            <textarea id="desc" name="desc" rows="10" placeholder="Type your description" [(ngModel)]="description"></textarea>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="question_library">
      <div class="question_library-title">
        Task Questions ({{this.numOfQuestions}})
      </div>
      <div class="question_library-content">
        <div class="question_library-items">
          <div class="question_library-item" *ngFor="let question of questions; let i = index;" >
            <div class="question_library-title-block">
              <span>{{question.maxLength}}</span>
              <p class="title">{{question.title}}</p>
            </div>
            <div class="topics question_topics">
              <div>
              <span *ngFor="let topic of question.topics">{{topic}}</span>
              </div>
            </div>
              <div>
              </div>
          </div>
        </div>
      </div>
      <div class="total_time-block">
        <p>TOTAL TIME</p>
        <div>
          <span>{{totalTime}} MIN</span>
        </div>
      </div>
    </div>
  </div>
</div>
