.app-wrapper {
  padding: 20px 100px;
  height: 100vh;
  background-color: #fafafa;
  //display: flex;
  //justify-content: center;
  //align-content: center;
  //align-items: center;


}

.mat-card {
  padding: 0;
}
