<div class="modal_title" *ngIf="editMode">
  <div class="modal_close_btn">
    <a (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </a>
  </div>
  <p>Edit Question</p>
</div>

<div class="modal_title" *ngIf="!editMode">
  <div class="modal_close_btn">
    <a (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </a>
  </div>
  <p>Create Question</p>
</div>

<form class="modal-form" [formGroup]="modal" (ngSubmit)="onSubmit()" #formElement='ngForm'>
  <div class="modal-form_title form-element_block">
    <label for="title">Title</label>
    <br>
    <input #titleInp type="text" name="title" id="title" formControlName="title" required placeholder="Type question title"
           [maxlength]="titleLength"
    >
    <span *ngIf="titleInp.value.length === 200" class="notification">
      You have exceeded the maximum number of 200 characters in this field
    </span>
    <span *ngIf="titleInp.value.length <= 0 &&
             !modal.get('title').valid && modal.get('title').touched">This field is required</span>
  </div>
  <div class="modal-form_description form-element_block">
    <label for="description">Description</label>
    <br>
    <textarea #descInp name="description" id="description" rows="10" formControlName="description" required
              placeholder="Type text" [maxlength]="descriptionLength"></textarea>
    <span *ngIf="descInp.value.length === 800" class="notification">
      You have exceeded the maximum number of 800 characters in this field
    </span>
    <span *ngIf="descInp.value.length <= 0 &&
             !modal.get('description').valid && modal.get('description').touched">This field is required</span>
  </div>

  <div class="modal_form-topics form-element_block">
    <label>Topics</label>
    <br>
    <app-selected-topics-list [modal]="modal" [customHeight]="true" formArrayName="topics"></app-selected-topics-list>
  </div>

  <div class="type-maxLength_wrapper">
    <div class="modal-form_type form-element_block">
      <label for="type">Type</label>
      <br>
      <select name="type" id="type" formControlName="type">
        <option hidden selected value="-1">Select type</option>
        <option value="code">code</option>
        <option value="text">text</option>
      </select>
      <span *ngIf="modal.get('type').errors?.defaultSelected && modal.get('type').touched">Field is required</span>
    </div>
    <div class="modal-form_max-length">
      <label for="maxlength">Max length</label>
      <br>
      <input #maxLength type="number" id="maxlength" name="maxLength" formControlName="maxLength" required placeholder="min" >
      <span *ngIf="maxLength.value > 120">Max value is 120</span>
      <span *ngIf="maxLength.value < 1 && modal.get('maxLength').touched">Please enter value greater then 1</span>
    </div>
  </div>

  <div *ngIf="!editMode" class="modal-form_edit_btn">
    <button type="submit"
            (click)="onCreate()"
            style="cursor: pointer"
            [disabled]="!formElement.valid"
            [ngStyle]="{'opacity': modal.invalid ? '0.5': '1'}">
      Create
    </button>
  </div>

  <div class="edit-modal-form_edit_btn" *ngIf="editMode">
    <button class="delete" type="button" (click)="onDelete()">{{'delete' | uppercase}}</button>
    <button class="save" type="submit" (click)="onEdit()"
            [disabled]="!formElement.valid"
            [ngStyle]="{'opacity': modal.invalid ? '0.5': '1'}">
      Save
    </button>
  </div>
</form>


<!--<form *ngIf="editMode" class="edit-modal-form" [formGroup]="modal" (ngSubmit)="onSubmit()" #formElement='ngForm'>-->
<!--  <div class="edit-modal-form_title form-element_block">-->
<!--    <label for="title">Title</label>-->
<!--    <br>-->
<!--    <input #titleInp type="text" name="title" id="title" formControlName="title" required>-->
<!--    <span *ngIf="titleInp.value.length > 250 &&-->
<!--            !modal.get('title').valid && modal.get('title').touched">Max amount of characters is 250</span>-->
<!--    <span *ngIf="titleInp.value.length <= 0 &&-->
<!--             !modal.get('title').valid && modal.get('title').touched">This field is required</span>-->
<!--  </div>-->
<!--  <div class="edit-modal-form_description form-element_block">-->
<!--    <label for="description">Description</label>-->
<!--    <br>-->
<!--    <textarea #descInp name="description" id="description" rows="10" formControlName="description" required-->
<!--              [maxlength]="descriptionLength"></textarea>-->
<!--    <span *ngIf="descInp.value.length > 800 &&-->
<!--            !modal.get('description').valid && modal.get('description').touched">Max amount of characters is 800</span>-->
<!--    <span *ngIf="descInp.value.length <= 0 &&-->
<!--             !modal.get('description').valid && modal.get('description').touched">This field is required</span>-->
<!--  </div>-->

<!--  <div class="edit-modal_form-topics form-element_block">-->
<!--    <label>Topics</label>-->
<!--    <br>-->
<!--    <app-selected-topics-list [modal]="modal" [customHeight]="true" formArrayName="topics"></app-selected-topics-list>-->
<!--  </div>-->

<!--  <div class="type-maxLength_wrapper">-->
<!--    <div class="edit-modal-form_type form-element_block">-->
<!--      <label for="type">Type</label>-->
<!--      <br>-->
<!--      <select name="type" id="type" formControlName="type" required>-->
<!--        <option value="code">code</option>-->
<!--        <option value="text">text</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="edit-modal-form_max-length">-->
<!--      <label for="maxlength">Max length</label>-->
<!--      <br>-->
<!--      <input #maxLength type="number" id="maxlength" name="maxLength" formControlName="maxLength" required>-->
<!--      <span *ngIf="maxLength.value > 120">Max value is 120</span>-->
<!--      <span *ngIf="maxLength.value < 1 && modal.get('maxLength').touched">Please enter value greater then 1</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
