
//.mat-dialog-container {
//  padding: 0;
//}
//
//.selectBox-1 {
//  position: relative;
//}
//
//.selectBox-1 select {
//  width: 100%;
//}
//
//.overSelect-1 {
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//}
//
//.edit-modal-form {
//  padding: 20px 40px 40px 40px;
//  input, select,textarea {
//    box-sizing: border-box;
//    width: 100%;
//    padding: 10px;
//    border-radius: 2px;
//    border: solid 2px #dddddd;
//    background-color: #ffffff;
//  }
//  .type-maxLength_wrapper {
//    display: flex;
//    justify-content: space-between;
//    .edit-modal-form_type {
//      width: 90%;
//      margin-right: 10px;
//    }
//  }
//  label {
//    margin-left: 10px;
//    margin-bottom: 5px;
//  }
//  .form-element_block {
//    margin-bottom: 20px;
//  }
//  .edit-modal-form_edit_btn {
//    text-align: right;
//    margin-top: 40px;
//    display: flex;
//    justify-content: space-between;
//    button:last-child {
//      padding: 12px 20px;
//      border: none;
//      border-radius: 2px;
//      background-color: #007672;
//      font-size: 14px;
//      font-weight: 800;
//      font-stretch: normal;
//      font-style: normal;
//      line-height: normal;
//      letter-spacing: 0.5px;
//      color: #ffffff;
//    }
//    button:first-child {
//      padding: 12px 20px;
//      border: none;
//      border-radius: 2px;
//      background-color: red;
//      font-size: 14px;
//      font-weight: 800;
//      font-stretch: normal;
//      font-style: normal;
//      line-height: normal;
//      letter-spacing: 0.5px;
//      color: #ffffff;
//    }
//  }
//}
//
//
//.chosen-topics_list {
//  list-style-type: none;
//  display: flex;
//  flex-wrap: wrap;
//  align-content: flex-start;
//  padding: 8px 9px;
//  border-radius: 2px;
//  border: solid 2px #dddddd;
//  background-color: #ffffff;
//    li {
//      margin-right: 5px;
//      margin-bottom: 5px;
//      padding: 6px 9px 7px 8px;
//      border-radius: 2px;
//      background-color: #eeeeee;
//      height: 20px;
//    }
//  }
//
//.edit-modal_title {
//  background-color: #fafafa;
//  padding: 20px 0 20px 40px;
//  margin-bottom: 20px;
//  height: 60px;
//  p {
//    font-size: 24px;
//    font-weight: 800;
//  }
//  .edit-modal_close_btn {
//    text-align: right;
//    margin-right: 15px;
//  }
//}
//.material-icons {
//  line-height: 0 !important;
//  font-size: 1rem;
//}
//.mat-icon {
//  cursor: pointer;
//  vertical-align: middle;
//  width: 15px !important;
//  height: 0 !important;
//}
//
//input.ng-dirty.ng-invalid.ng-touched {
//  border: 1px solid red;
//}
//
//input, textarea, select {
//  outline: none;
//}
