
.mat-dialog-container {
  padding: 0;
}

.edit-modal_title {
  background-color: #fafafa;
  padding: 20px 0 20px 40px;
  margin-bottom: 20px;
  height: 60px;

  p {
    font-size: 24px;
    font-weight: 800;
  }

  .edit-modal_close_btn {
    text-align: right;
    margin-right: 15px;
  }
}

