<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VACANCY</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>


    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
      <td mat-cell class="pd-20" *matCellDef="let row">

        <div [ngClass]="{'cell-active': row.status === 'Active',
                                                            'cell-closed': row.status === 'Closed'}">
          {{row.status | uppercase}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="avg-score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AVG.SCORE</th>
      <td mat-cell *matCellDef="let row">{{ getAvgScore() }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OPENED</th>
      <td mat-cell *matCellDef="let row">{{row.createdAt | date: 'd MMM y'}}</td>
    </ng-container>



    <ng-container  matColumnDef="arrow">
      <th mat-header-cell  [ngClass]="'customWidthClass'"  *matHeaderCellDef></th>
      <td mat-cell  [ngClass]="'customWidthClass'" *matCellDef="let element">
        <button mat-icon-button class="hidden" color="black" (click)="getInfo(element['_id'])" title="View Contact"><mat-icon>arrow_forward</mat-icon></button>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
