.vacancies-list-block_title {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #373a36;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

table {
  width: 100%;
}

.cdk-column-title {
  width: 40rem;
}

th.cdk-column-status, th.cdk-column-avg-score, th.cdk-column-type, th.cdk-column-createdAt {
  width: 200px;
}

.mat-form-field-underline {
  height: 0 !important;
}

.status {
  display: inline-block;
  padding: 2px 4px;
  color: #ffffff;
  border-radius: 2px;
}
