.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  margin-top: 30px;
}

.mat-header-cell {
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101820;
}

.mat-cell:nth-child(3) {
  width: 31px;
  height: 13px;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.cell-active {
  width: 39px;
  height: 15px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #00b2a9;
}

.cell-closed {
  width: 43px;
  height: 17px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #4a4a4a;
}

.mat-row:hover .hidden {
  visibility: visible;
}

.mat-row:hover {
  background-color: rgba(0, 118, 114, 0.1);
}

.hidden {
  visibility: hidden;
}

.customWidthClass{
  flex: 0 0 75px;
}

.center-text{
  margin-left: 50px;
}

.element-padding{
  padding-left: 10px;
}

.element-margin{
  margin-right: 30px;
}

.mat-column-title {
  width: 300px;
  max-width: 300px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
  flex: 0 0 36%;
}

mat-cell{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vacancies-list-block_title {
  font-size: 24px;
  font-weight: 750;
  color: #373a36;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}
