::ng-deep .mat-dialog-container{
  padding: 0;
  border-radius: 0;
}

.container{
    background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.header{
  padding-left: 20px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 600;
}


.content{
  margin: 20px 30px;
}

.mat-form-field{
  width: 90%;
  margin-left: 10px;
  border-radius: 0!important;
}

.subheader{
  margin-left: 12px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 ;
  border-color: #dddddd;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 ;
  border-color: #dddddd;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  height: 5px;
}

.hover:hover{
  cursor: pointer;
}


.btn{
  float: right;
  margin-right: 32px;
  width: 100px;
  height: 40px;
  padding: 12px 20px;
  border-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 550;
  border-radius: 2px;
  background-color: #007672;
}

.btn-disabled{
  opacity: 0.5;
}







//
//.subheader{
//  text-align: center;
//  padding-bottom: 15px;
//}
//
//
//

//.mat-form-field{
//  width: 398px;
//}
//

//

