::ng-deep .mat-dialog-container{
  padding: 0px;
}

.icon{
  margin-top: 10px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  width: 496px;
  height: 95px;

}
.header h2{
  padding: 40px 203px 25px 40px;
  font-size: 24px;
  font-weight: 800;
  color: #373a36;
}

.content{
  margin: 20px 30px;
}

.subheader{
  padding-bottom: 15px;
}

.btn{
  float: right;
  margin-right: 33px;
  width: 100px;
  height: 40px;
  padding: 12px 20px;
  border-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 550;
  border-radius: 2px;
  background-color: #007672;
}

.mat-form-field{
  width: 398px;
}

.btn-disabled{
  opacity: 0.5;
}

.hover:hover{
  cursor: pointer;
}
