<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="evaluationData" matSort>

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-selection-list>
          <mat-list-option>

          </mat-list-option>
        </mat-selection-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="candidate" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>CANDIDATE</mat-header-cell>
      <mat-cell
        *matCellDef="let element"> {{element.candidate.firstName + ' ' + element.candidate.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div [ngClass]=
               "{'cell-invited': element.status === 'invited',
        'cell-evaluated': element.status === 'evaluated',
        'cell-InProgress': element.status === 'in progress',
        'cell-completed': element.status === 'completed'
      }">
          {{element.status | uppercase}}</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SCORE</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{'---'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reviewer">
      <mat-header-cell *matHeaderCellDef > REVIEWER</mat-header-cell>
      <mat-cell *matCellDef="let element"><a class="link" (click)="openReviwerModal()">Set Reviewer</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>INVITED</mat-header-cell>
      <mat-cell *matCellDef="let element" class="arrow_right">
        {{element['created_at'] | date: 'd MMM y'}}
        <mat-icon class="arrow" [routerLink]="['/answer']">arrow_forward</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator *ngIf="!show"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
<div class="empty" *ngIf="show"><p>NO INVITED CANDIDATES</p></div>

