<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="evaluationData"  >

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox>

        </mat-checkbox>
      </mat-cell>
    </ng-container>


   <ng-container matColumnDef="candidate">
    <mat-header-cell *matHeaderCellDef> CANDIDATE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.candidate.firstName + ' ' + element.candidate.lastName}} </mat-cell>
  </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
      <mat-cell *matCellDef="let element" > <div [ngClass]=
        "{'cell-invited': element.status === 'invited',
        'cell-evaluated': element.status === 'evaluated',
        'cell-InProgress': element.status === 'in progress',
        'cell-completed': element.status === 'completed'
      }">
{{element.status | uppercase}}</div> </mat-cell>
    </ng-container>


    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> SCORE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.score === undefined ? '---' : element.score}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="reviewer">
      <mat-header-cell *matHeaderCellDef> REVIEWER </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a class="link"  (click)="createReviwerModal()">Set Reviewer</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invited">
      <mat-header-cell *matHeaderCellDef> INVITED </mat-header-cell>
      <mat-cell *matCellDef="let element" class="arrow_right">
        {{element['created_at'] | date: 'd MMM y'}}
        <mat-icon class="arrow" [routerLink]="['/answer']" [queryParams]="{candidate: element.candidate}">arrow_forward</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
<div class="empty" *ngIf="show"><p>NO INVITED CANDIDATES</p></div>

