<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="getDataSource()"  >

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox
          (click)="$event.stopPropagation();changeSubject()"
                      (change)="$event ? toggle(element) : null"
                              [checked]="isSelected(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>


   <ng-container matColumnDef="candidate">
    <mat-header-cell *matHeaderCellDef> CANDIDATE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.candidate}} </mat-cell>
  </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
      <mat-cell *matCellDef="let element" > <div [ngClass]=
        "{'cell-invited': element.status === 'invited',
        'cell-evaluated': element.status === 'evaluated',
        'cell-InProgress': element.status === 'in progress',
        'cell-completed': element.status === 'completed'
      }">
{{element.status | uppercase}}</div> </mat-cell>
    </ng-container>


    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> SCORE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.score === 0 ? '---' : element.score}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="reviewer">
      <mat-header-cell *matHeaderCellDef> REVIEWER </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a class="link"  (click)="createReviwerModal()">{{element.reviewer}}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invited">
      <mat-header-cell *matHeaderCellDef> INVITED </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invited}} </mat-cell>
    </ng-container>


    <ng-container  matColumnDef="arrow">
      <mat-header-cell  [ngClass]="'customWidthClass'"  *matHeaderCellDef ></mat-header-cell>
      <mat-cell  [ngClass]="'customWidthClass'" *matCellDef="let element">
        <button mat-icon-button class="hidden" color="black"  title="View Contact"><mat-icon>arrow_forward</mat-icon></button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"
             (click)="toggle(element)">
    </mat-row>
  </mat-table>
</div>
<div class="empty" *ngIf="getSubjectValue() === 0"><p>NO INVITED CANDIDATES</p></div>

