.full-width-table {
  width: 100%;
}

.mat-header-cell {
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101820;
}


.cell-invited {
  width: 50px;
  height: 17px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #00b2a9;
}



.cell-InProgress {
 width: 70px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #f5a623;
}


.cell-evaluated {
  width: 70px;
  height: 17px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color:  #4a90e2;;
}



.cell-completed {
  width:70px;
  height: 17px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color:  #4a4a4a;;
}


.mat-cell:nth-child(3) {
  width: 31px;
  height: 13px;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

.link{
  color: #007672;
  cursor: pointer;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}


.empty{
  height: 60px;
  margin-top: -5px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  background-color: #ffffff;
  text-align: center;
}

.empty p{
  padding-top: 15px;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #007672;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color:  #007672;
}

.arrow_right {
  justify-content: space-between;
  .arrow {
    cursor: pointer;
  }
}
