
.question-filter_block {
  box-sizing: border-box;
  background-color: #fafafa;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 4px 25px 0 rgba(0, 184, 178, 0.05);
  width: 370px;
  height: 730px;
  margin-right: 10px;

  .question-filter-title {
    background-color: #ffffff;
    padding: 20px 15px 0 15px;
    height: 48px;

    p {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .question-filter_content {
    padding: 15px 20px;

    .question-filter_form {

      .question-filter_form-btn {
        text-align: right;
        margin-top: 10px;

        button {
          padding: 3px 30px;
          border: none;
          border-radius: 2px;
          background-color: #007672;
          font-size: 16px;
          font-weight: 800;
          font-stretch: normal;
          color: #ffffff;
          cursor: pointer;
        }
      }

      .question-filter_form-topics {
        input {
          width: 5%;
        }

      }
    }
  }
}

.library-question {
  padding: 12px 20px;
  margin-bottom: 21px;

  p {
    font-size: 2em;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #373a36;
  }
}


