<div class="library-question">
  <p>Library questions</p>
</div>
<div class="question-filter_block">
  <div class="question-filter-title">
    <p>Filter Settings</p>
  </div>
  <div class="question-filter_content">
    <div class="question-filter_form">
      <form (ngSubmit)="onSubmit()" [formGroup]="filterForm">
        <div class="question-filter_form-topics">
          <label>Topics</label>
          <br>
          <app-selected-topics-list [modal]="filterForm" formArrayName="topics"></app-selected-topics-list>
        </div>
        <div class="question-filter_form-btn">
          <button mat-raised-button type="submit" (click)="onSearch()">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

