/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-infix  {
  border: none !important;
}
a {
  text-decoration: none;
}
.mat-typography p {
  margin: 0;
}
label.ng-star-inserted {
  transform: none !important;
}

.mat-card {
  border-radius: 0;
}

.mat-form-field {
  width: 23vw;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0;
}

.mat-form-field-label {
  color: #999999;
}


