/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: 'blueHighway';
  src: url('assets/fonts/Blue Highway D Type Regular.ttf');
}



html,body{margin:0;padding:0;}
h1,p{margin:0 0 1em}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-infix  {
  border: none !important;
}
a {
  text-decoration: none;
}
.mat-typography p {
  margin: 0;
}
label.ng-star-inserted {
  transform: none !important;
}

.mat-card {
  border-radius: 0;
}

.mat-form-field {
  width: 23vw;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0;
}

.mat-form-field-label {
  color: #999999;
}


.mat-form-field-wrapper {
  padding: 5px !important;
}
textarea {
  resize: none;
}


ul {
  padding-inline-start: 0 !important;
}

p {
  font-family: OpenSans, sans-serif;
}
.mat-paginator .mat-form-field-underline {
  display: none;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

button, a {
  cursor: pointer;
}

.mat-dialog-container {
  max-height: 100vh !important;
}
