<div class="home_card">
  <div class="home_card_content">
    <div class="home_card_content-text">
      <p class="text">Active Vacancies</p>
      <p class="number">16</p>
    </div>
    <div class="home_card_content-button">
      <a [routerLink]="['/vacancies-create']"><button type="button">CREATE NEW</button></a>
    </div>
  </div>

  <div class="home_card_content">
    <div class="home_card_content-text">
      <p class="text">Active Vacancies</p>
      <p class="number">16</p>
    </div>
    <div class="home_card_content-button">
      <a [routerLink]="['/vacancies-create']"><button type="button">REVIEW</button></a>
    </div>
  </div>

  <div class="home_card_content">
    <div class="home_card_content-text">
      <p class="text">Active Vacancies</p>
      <p class="number">16</p>
    </div>
    <div class="home_card_content-button">
      <a [routerLink]="['/vacancies-create']"><button type="button">VIEW</button></a>
    </div>
  </div>
</div>

<div class="vacancies-list">
  <div class="vacancies-list-block_title">
    <p>Most Recent Evaluations</p>
  </div>
  <app-vacancies-list></app-vacancies-list>
</div>

