.container {
  margin: 0 10vw;
}

.mat-success {
  width: 110px;
  height: 40px;
  border-radius: 2px;
  background-color: #007672;
  text-align: center;
  color: #ffffff;
}
label.ng-star-inserted {
  transform: none !important;
}
